@model BillingManagementSystem.Models.Customer

@{
    ViewBag.Title = "Details";
}
<style>
    th, td {
        padding: 1%;
        width: 20%;
    }
</style>
<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.first_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cnic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Model.createdDate.ToString("dd-MM-yyyy")

            @*@Html.DisplayFor(model => model.createdDate.ToString("dd-MM-yyyy"))*@
        </dd>
        <dt>
            @Html.DisplayName("Total amount paid")
        </dt>
        @if (Model.payments.Count() > 0)
        {
            <dd>
                @Model.payments.Where(m => m.payment_For.Year == System.DateTime.Now.Year).Sum(m => m.payment_Amount)
                @*@Html.DisplayFor(model => model.createdDate.ToString("dd-MM-yyyy"))*@
            </dd>
        }
        else{
        <dd>0</dd>
        }



    </dl>
    
    <h4>Payment Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.payments.Count() > 0)
        {
        <table>
            <tr>
                <th>Payment for</th>
                <th>Payment Amount</th>
                <th>Paid by</th>
                <th>Payment Date</th>
                <th>Employee</th>
            </tr>

            @foreach (var item in Model.payments.OrderByDescending(m=>m.payment_For))
            {

        <tr>
            <td>@item.payment_For.ToString("MMMM-yyyy")</td>
            <td>@item.payment_Amount</td>
            <td>@item.paid_By</td>
            <td>@item.payment_Date.ToString("dd-MM-yyyy")</td>
            <td>@item.employee_Name</td>

        </tr>
                    }
               
            </table>

        }
        else
        {
            <p>No payment for this customer</p>
        }



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cust_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
