@model BillingManagementSystem.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.first_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.first_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paid_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paid_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_For)
        </dt>

        <dd>
            @Model.payment_For.ToString("MMMM-yyyy")
            @*Html.DisplayFor(model => model.payment_For)*@
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.employee_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.employee_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.payment_Date)
            </dt>

            <dd>
                @Model.payment_Date.ToString("dd-MM-yyyy")
            </dd>

            </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.payment_Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
