@model IEnumerable<BillingManagementSystem.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Payments list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Customer Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paid_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_For)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(m=>m.payment_For)) {
    <tr>
        <td>
            <a href="~/Customers/Details/@item.cust_Id">@item.Customer.first_Name @item.Customer.last_Name</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paid_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_Amount)
        </td>
        <td>
            @item.payment_For.ToString("MMMM-yyyy")
            @*@Html.DisplayFor(modelItem => item.payment_For)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_Name)
        </td>
        <td>
            @item.payment_Date.ToString("dd-MM-yyyy")

            @*@Html.DisplayFor(modelItem => item.payment_Date)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.payment_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.payment_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.payment_Id })
        </td>
    </tr>
}

</table>
